.ServicesContainer {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  margin-top: auto;
  margin-bottom: 5rem;
}
.services-heading {
  margin-bottom: 3rem;
}
.services-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.box1,
.box2,
.box3 {
  flex: 1 1 30rem;
  background: var(--second-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--bg-color);
  transition: 0.5s ease;
  border-color: var(--main-color);
  box-shadow: 0 0 0.5rem var(--second-color);
}
.box1:hover,
.box2:hover,
.box3:hover {
  border-color: var(--main-color);
  transform: scale(1.05);
  box-shadow: 0 0 1.2rem var(--main-color);
}
.box1:hover h3 {
  color: var(--main-color);
}
.box2:hover h3 {
  color: var(--main-color);
}
.box3:hover h3 {
  color: var(--main-color);
}

.box1 p,
.box2 p,
.box3 p{
    font-size: 100%;
}
.box1 h3,
.box2 h3,
.box3 h3{
    font-size: 110%;
    font-weight: bold;
}
.btn-wd, .btn-gd, .btn-dm{
    display: inline-block;
    padding: 0.3rem 2rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 0.1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--second-bg-color);
    letter-spacing: .06rem;
    font-weight: 600;
    margin-top: 2.5rem;
    text-decoration: none;
    font-size: 80%;
}
.btn-wd:hover, .btn-gd:hover, .btn-dm:hover{
    background-color: var(--second-bg-color);
    color: var(--main-color);
    cursor: pointer;
}
.services-heading {
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 5rem; /* Remove margin-bottom */
    text-align: center; /* Center-align the text */
    
    justify-content: center;
    align-items: center;
    
}
.services-heading span{
  color: var(--main-color);
}
